.ac:hover {
  border: 2px solid #bdeefe
}

.ac-01 {
    background-image: url('./01.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-02_vtjvob {
    background-image: url('./02_vtjvob.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-03_o8yvhu {
    background-image: url('./03_o8yvhu.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-04_gl48g1 {
    background-image: url('./04_gl48g1.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-05 {
    background-image: url('./05.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-06_wtfzlf {
    background-image: url('./06_wtfzlf.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-07_qezfub {
    background-image: url('./07_qezfub.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-08_m9n0wc {
    background-image: url('./08_m9n0wc.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-09_kt1eg3 {
    background-image: url('./09_kt1eg3.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1001_l5tkzi {
    background-image: url('./1001_l5tkzi.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1002_yzx1b7 {
    background-image: url('./1002_yzx1b7.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1003_lyni9e {
    background-image: url('./1003_lyni9e.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1004_yyminc {
    background-image: url('./1004_yyminc.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1005_pnzf04 {
    background-image: url('./1005_pnzf04.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1006_zdizhl {
    background-image: url('./1006_zdizhl.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1007_w7j2ah {
    background-image: url('./1007_w7j2ah.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1008_atyizg {
    background-image: url('./1008_atyizg.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1009_wnipp3 {
    background-image: url('./1009_wnipp3.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1010_wqdufc {
    background-image: url('./1010_wqdufc.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1011_cl5upd {
    background-image: url('./1011_cl5upd.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1012_gnxrmx {
    background-image: url('./1012_gnxrmx.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1013_x96y3o {
    background-image: url('./1013_x96y3o.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1014_eqa1pn {
    background-image: url('./1014_eqa1pn.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1015_k5ckx7 {
    background-image: url('./1015_k5ckx7.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1016_akth8h {
    background-image: url('./1016_akth8h.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1017_hq4drk {
    background-image: url('./1017_hq4drk.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1018_h1lisx {
    background-image: url('./1018_h1lisx.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1019_kdf0w4 {
    background-image: url('./1019_kdf0w4.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1020_rpcwcx {
    background-image: url('./1020_rpcwcx.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1021_dsajrm {
    background-image: url('./1021_dsajrm.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1022_xl0feo {
    background-image: url('./1022_xl0feo.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1023_xcphnn {
    background-image: url('./1023_xcphnn.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1024_iftpsu {
    background-image: url('./1024_iftpsu.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1025_exdzzd {
    background-image: url('./1025_exdzzd.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1026_hosl74 {
    background-image: url('./1026_hosl74.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1027_lrxadi {
    background-image: url('./1027_lrxadi.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1028_bpbehz {
    background-image: url('./1028_bpbehz.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1029_wtkvpo {
    background-image: url('./1029_wtkvpo.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1030_jyxpzv {
    background-image: url('./1030_jyxpzv.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1031_bia6so {
    background-image: url('./1031_bia6so.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1032_l3gx47 {
    background-image: url('./1032_l3gx47.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1033_qlgi1b {
    background-image: url('./1033_qlgi1b.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1034_cqjkgc {
    background-image: url('./1034_cqjkgc.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1035_uxlpap {
    background-image: url('./1035_uxlpap.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1036_mujphg {
    background-image: url('./1036_mujphg.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1037_ukcllf {
    background-image: url('./1037_ukcllf.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1038_bzi3zl {
    background-image: url('./1038_bzi3zl.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1039_aimkvg {
    background-image: url('./1039_aimkvg.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-1040_xx9apf {
    background-image: url('./1040_xx9apf.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-10_o1hyuu {
    background-image: url('./10_o1hyuu.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-11_hlglg9 {
    background-image: url('./11_hlglg9.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-12_wvslmu {
    background-image: url('./12_wvslmu.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-13_bjrhoo {
    background-image: url('./13_bjrhoo.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-14_cdxk4b {
    background-image: url('./14_cdxk4b.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-15_wuxghs {
    background-image: url('./15_wuxghs.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-16_oosufm {
    background-image: url('./16_oosufm.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-17_zdiqum {
    background-image: url('./17_zdiqum.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-18_s1ydem {
    background-image: url('./18_s1ydem.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-19_ymukj3 {
    background-image: url('./19_ymukj3.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2001_fkdpnn {
    background-image: url('./2001_fkdpnn.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2002_syiwiw {
    background-image: url('./2002_syiwiw.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2003_zkwggo {
    background-image: url('./2003_zkwggo.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2004_iec7ci {
    background-image: url('./2004_iec7ci.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2005_lkjrxg {
    background-image: url('./2005_lkjrxg.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2006_mn4ff4 {
    background-image: url('./2006_mn4ff4.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2007_gquqoe {
    background-image: url('./2007_gquqoe.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2008_wsr0dd {
    background-image: url('./2008_wsr0dd.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2009_jledo3 {
    background-image: url('./2009_jledo3.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2010_w73r8h {
    background-image: url('./2010_w73r8h.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2011_ebc6rx {
    background-image: url('./2011_ebc6rx.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2012_tgnuof {
    background-image: url('./2012_tgnuof.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2013_tcgm80 {
    background-image: url('./2013_tcgm80.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2014_phac0y {
    background-image: url('./2014_phac0y.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2015_kazs7t {
    background-image: url('./2015_kazs7t.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2016_qm92nb {
    background-image: url('./2016_qm92nb.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2017_t6eq9d {
    background-image: url('./2017_t6eq9d.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2018_pym625 {
    background-image: url('./2018_pym625.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2019_mnpyul {
    background-image: url('./2019_mnpyul.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2020_auebfy {
    background-image: url('./2020_auebfy.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2021_oex5li {
    background-image: url('./2021_oex5li.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2022_jfp4ks {
    background-image: url('./2022_jfp4ks.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2023_wk6yzi {
    background-image: url('./2023_wk6yzi.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2024_zewp3o {
    background-image: url('./2024_zewp3o.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2025_qjqa9v {
    background-image: url('./2025_qjqa9v.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2026_forxkn {
    background-image: url('./2026_forxkn.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2027_djcvat {
    background-image: url('./2027_djcvat.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2028_b5puzg {
    background-image: url('./2028_b5puzg.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2029_cydjro {
    background-image: url('./2029_cydjro.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2030 {
    background-image: url('./2030.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2031_zj0ptg {
    background-image: url('./2031_zj0ptg.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2032_ut9ogm {
    background-image: url('./2032_ut9ogm.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2033_zehxvz {
    background-image: url('./2033_zehxvz.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2034_qarzew {
    background-image: url('./2034_qarzew.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2035_we65hw {
    background-image: url('./2035_we65hw.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2036_ptzsir {
    background-image: url('./2036_ptzsir.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2037_yakmm1 {
    background-image: url('./2037_yakmm1.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2038_gmthyq {
    background-image: url('./2038_gmthyq.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2039_iegeid {
    background-image: url('./2039_iegeid.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2040_egx0q7 {
    background-image: url('./2040_egx0q7.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2041_ydbwty {
    background-image: url('./2041_ydbwty.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2042_cd1swy {
    background-image: url('./2042_cd1swy.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2043_ei9gnt {
    background-image: url('./2043_ei9gnt.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2044_jo7epi {
    background-image: url('./2044_jo7epi.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2045_oobjft {
    background-image: url('./2045_oobjft.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2046_higkfd {
    background-image: url('./2046_higkfd.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2047_jhf0vo {
    background-image: url('./2047_jhf0vo.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2048_jl2h4x {
    background-image: url('./2048_jl2h4x.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2049_lhtw6f {
    background-image: url('./2049_lhtw6f.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2050_renomc {
    background-image: url('./2050_renomc.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2051_fy84gw {
    background-image: url('./2051_fy84gw.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2052_i23lcb {
    background-image: url('./2052_i23lcb.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2053_wzsmya {
    background-image: url('./2053_wzsmya.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2054_xf56sf {
    background-image: url('./2054_xf56sf.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-2055_hqi8f5 {
    background-image: url('./2055_hqi8f5.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-20_emgqr3 {
    background-image: url('./20_emgqr3.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-21_ru58r5 {
    background-image: url('./21_ru58r5.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-22_gm9yem {
    background-image: url('./22_gm9yem.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-23_nmfwax {
    background-image: url('./23_nmfwax.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-24_selzyj {
    background-image: url('./24_selzyj.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-25_jlvoos {
    background-image: url('./25_jlvoos.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-26_m9v8mt {
    background-image: url('./26_m9v8mt.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-27_magfnq {
    background-image: url('./27_magfnq.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-28_hljkac {
    background-image: url('./28_hljkac.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-29_ykjzzw {
    background-image: url('./29_ykjzzw.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-30_h6nwlj {
    background-image: url('./30_h6nwlj.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-31_olbjxd {
    background-image: url('./31_olbjxd.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-32_q35cnb {
    background-image: url('./32_q35cnb.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-33_djl0x5 {
    background-image: url('./33_djl0x5.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-34_j8dd6p {
    background-image: url('./34_j8dd6p.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-35_nn87bp {
    background-image: url('./35_nn87bp.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-36_huvjaz {
    background-image: url('./36_huvjaz.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-37_vhs7vs {
    background-image: url('./37_vhs7vs.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-38_fxbuxj {
    background-image: url('./38_fxbuxj.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-39_pq2sh9 {
    background-image: url('./39_pq2sh9.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-40_pigdte {
    background-image: url('./40_pigdte.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-41_qclann {
    background-image: url('./41_qclann.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-42_vwq3km {
    background-image: url('./42_vwq3km.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-43_zogqii {
    background-image: url('./43_zogqii.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-44_pylfpe {
    background-image: url('./44_pylfpe.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-45_g0bg9p {
    background-image: url('./45_g0bg9p.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-46_aqv4lz {
    background-image: url('./46_aqv4lz.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-47_qo7avq {
    background-image: url('./47_qo7avq.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-48_wevpth {
    background-image: url('./48_wevpth.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-49_bpkdle {
    background-image: url('./49_bpkdle.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-50_uwh4s3 {
    background-image: url('./50_uwh4s3.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-51_esx7hj {
    background-image: url('./51_esx7hj.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-52_vnur5r {
    background-image: url('./52_vnur5r.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-53_zdf18o {
    background-image: url('./53_zdf18o.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  
.ac-54_p6c3w3 {
    background-image: url('./54_p6c3w3.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  